// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-gradient: true;
$enable-responsive-font-sizes: true;

// Colors
$primary: #1abc9c;
$blue: #3498db;
$indigo: #9b59b6;
$purple: #8e44ad;
$pink: #f66d9b;
$red: #e3342f;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #27ae60;
$teal: #4dc0b5;
$cyan: #6cb2eb;
